.main-section-func{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
}

.logo5F{
    display: flex;
    margin: 0 auto;
    width: 550px;
    height: 550px;
    margin-top:10%;
    animation: riseUp 1s ease-out 1.5s forwards;
}

@keyframes riseUp {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-150px);
      opacity: 1;
    }
  }

  .logo{
    animation: restrict 2s ease-out forwards;
  }

  @keyframes restrict {
    from {
      opacity: 1;
    }
    to {
      transform: scale(0.7);
      opacity: 1;
    }
  }


  .decor {  
    position: fixed;
    top: 0;
    width: 80px;
    height: 100%;
    pointer-events: none;

  }
  
  .left-decor {

    left: 0;
  }
  
  .right-decor {
    right: 250px;
  }
  
  .icon {
    position: absolute;
    font-size: 30px;
    opacity: 0.8;
    animation: fall linear forwards;
    border-radius: 20%;
    box-shadow:
    0 0 4px rgba(0, 123, 255, 0.6),
    0 0 10px rgba(0, 123, 255, 0.5),
    0 0 20px rgba(0, 123, 255, 0.3);

  }
  


  @keyframes fall {
    0% {
      transform: translateY(-200px) rotate(0deg);
    }
    100% {
      transform: translateY(110vh) rotate(360deg);
      opacity: 0;
    }
  }


  .welcome{
    text-align: center;
    justify-content: center;
  }
