
.main-section-func{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo5F{
    display: flex;
    margin: 0 auto;
    width: 550px;
    height: 550px;
    margin-top:10%;
    animation: riseUp 1s ease-out 1.5s forwards;
}

@keyframes riseUp {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-150px);
      opacity: 1;
    }
  }

  .logo{
    animation: restrict 2s ease-out forwards;
  }

  @keyframes restrict {
    from {
      opacity: 1;
    }
    to {
      transform: scale(0.7);
      opacity: 1;
    }
  }


  .decor {  
    position: fixed;
    top: 0;
    width: 80px;
    height: 100%;
    pointer-events: none;

  }
  
  .left-decor {

    left: 0;
  }
  
  .right-decor {
    right: 250px;
  }
  
  .icon {
    position:absolute;
    font-size: 30px;
    opacity: 0.8;
    animation: fall 3s linear forwards, trail 3s linear forwards; /* Durata sincronizzata */
    border-radius: 20%;
    box-shadow: 0 0 20px 10px rgba(0, 0, 255, 0.5); /* Scia iniziale */
}

@keyframes fall {
    0% {
        transform: translateY(-200px) rotate(0deg);
    }
    100% {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}

@keyframes trail {
    0% {
        box-shadow: 0 0 20px 5px rgba(0, 0, 255, 0.5); /* Scia visibile */
    }
    50% {
        box-shadow: 0 0 15px 3px rgba(0, 0, 255, 0.3); /* Scia attenuata */
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 255, 0); /* Scia scompare */
    }
}


  .welcome{
    text-align: center;
    justify-content: center;  
    margin-top: -60px;
    animation: up 1s ease-out 1.5s forwards;
  }

  @keyframes up {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-150px);
      opacity: 1;
    }
  }
