body {
background: #ffffff;
background: radial-gradient(circle, rgb(234, 238, 239) 0%, rgb(199, 224, 253) 100%);
    background-size: 200% 200%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

/* Gradient animation */
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}