.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    opacity: 0;
    animation: goDown 3s ease-in-out 1s forwards;
    margin-bottom: -10px;
    border: 1px solid #007BFF;
    border-radius: 40px;
    padding: 10px;
    background-color: rgb(244, 249, 253);
}   

.nav-list-2{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    opacity: 1;
    margin-bottom: -10px;
    border: 1px solid #007BFF;
    border-radius: 40px;
    padding: 10px;
    background-color: rgb(244, 249, 253);
}   

.nav-link.active {
    color: #007BFF;
  }

@keyframes goDown{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.container{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.nav-link{
    margin: 0 30px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
}

.nav-link a{
    color: inherit;
}

.nav-link:hover{
    color: #007BFF;
    transition: color ease-in-out;
}

.nav-link:active{
    color: #007BFF;
}
.sign-in{
    color: white;
    border-radius: 5px;
    text-decoration: none;
    width: 23px;
}

